@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins;
}
.search{
    width: 250px;
    padding: 10px;
    border: 2px solid #000; 
    position: relative; 
    border-radius: 5px; 
}
.search input {
    border: none;
    outline: none;
}
.search i {
    font-size: 24px;
    color: rgb(236, 8, 8);
    position: absolute;
    right: 5px;
    top: 10px;
    display: none;
}
.toltip{
    font-size: 12px;
    background-color: rgb(234, 7, 7);
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.toltip i {
    display: block;
    font-size: 30px;
    top: -15px;
    left: 90px;
    position: absolute;
}
.tol-wraper {
   position: absolute;
   top: 56px;
   left: 104px;
   display: none;
}